services:
  products.webapi:
    image: ${DOCKER_REGISTRY-}serverapi
    container_name: products.webapi
    build:
      context: .
      dockerfile: Server.Api/Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    networks:
      - magazine-network
    depends_on:
      - redis

  products.database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: products.database
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "sa123456!"
    restart: always
    ports:
      - "1433:1433"
    volumes:
      - sqlserver:/var/opt/mssql
    networks:
      - magazine-network

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    networks:
      - magazine-network
    ports:
      - "6379:6379"
    volumes:
    - ./docker/redis/redis.acl:/etc/redis/users.acl:ro
    command: redis-server --aclfile /etc/redis/users.acl

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: always
    ports:
      - "5540:5540"
    volumes:
      - redisinsight-data:/data
    networks:
      - magazine-network
    depends_on:
      - redis

networks:
  magazine-network:
    driver: bridge

volumes:
  sqlserver:
  redisinsight-data:
